{% extends "base.html" %}

{% block head %}
<title>Відправити звіт</title>

<script>
    function searchOperations() {
        fetch('http://localhost:7077/report/dashboards')
            .then(response => {
                if (response.status === 200) {
                    window.location.href = 'http://localhost:7077/registration';
                    alert('Щоб використовувати функції сайту необіхдно зареєструватись ');
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>

{% endblock %}

{% block content %}

<form action="{{ url_for('get_dashboard_report_email') }}">
<div class="flex justify-center flex-col items-center">
    <div class="text-4xl flex my-3 gap-3 mt-5">
        <h1>
            Відправити звіт на пошту
        </h1>

    </div>
        <div class="flex rounded-3 bg-blue-100 border-2 p-3 mt-10">
            <div class="flex flex-col">
                <a type="email" id="email" name="email" class="text-ml">{{ current_user.username }}, Вам відправити на пошту звіт про фінансові операції?</a>
                <a class="flex justify-center text-l">Введіть кількість операцій, які вам відправити на пошту:</a>
                <input max="5" min="1" type="number" name="quantity" placeholder="Кілкість" class="rounded text-base p-3 ring-blue ring-2 ring-current mt-5"/>
                <button onclick="searchOperations()" class="border-2 rounded-md bg-yellow-300 p-3 mt-5">Відправити звіт</button>
            </div>
        </div>
</div>
</form>

{% endblock %}